#header {
    width: 100%;
    background-color: red;
    height: 30px;
}



.ui-datepicker 
{
 z-index: 9999 !important; 
}

#container {
    width: 300px;
    background-color: #ffffff;
    margin: auto;
}
#first {
    width: 60%;
    float: left;
    height: 100%;
        background-color: #ffffff;
}
#second {
    margin-left: 5%;
    width: 35%;
    float: left;
    height: 100%;
    background-color: #ffffff;
}

#order_content{
    height:100%
}
#clear {
    clear: both;
}